@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/fonts/Atkinson-Hyperlegible-Regular-102.woff2) format("woff2"),
    url(/fonts/Atkinson-Hyperlegible-Regular-102a.woff) format("woff");
}

* {
  font-family: Atkinson Hyperlegible; 
}

@font-face {
  font-family: "FT88 Regular";
  src: url(/fonts/FT88-Regular.woff2) format("woff2"),
    url(/fonts/FT88-Regular.woff) format("woff");
}

h1, h2, h3, h4, h5, h6 {
  font-family: FT88 Regular; 
}

:root {
  --primary-hue: 355deg;
  --primary-saturation: 90%;
}

.square {
  aspect-ratio: 1/1;
  width: 100%;
}

.game {
  aspect-ratio: 16/9;
  padding: 10px;
  width: 100%;
}

.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.pdf {
  aspect-ratio: 17/22;
  width: 100%;
}
"Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ft88 regular"; 
}

:root {
  --primary-hue: 355deg;
  --primary-saturation: 90%;
}

.square {
  aspect-ratio: 1/1;
  width: 100%;
}

.game {
  aspect-ratio: 16/9;
  padding: 10px;
  width: 100%;
}

.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.pdf {
  aspect-ratio: 17/22;
  width: 100%;
}
tkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ft88 regular"; 
}

:root {
  --primary-hue: 355deg;
  --primary-saturation: 90%;
}

.square {
  aspect-ratio: 1/1;
  width: 100%;
}

.game {
  aspect-ratio: 16/9;
  padding: 10px;
  width: 100%;
}

.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.pdf {
  aspect-ratio: 17/22;
  width: 100%;
}
tkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ft88 regular"; 
}

:root {
  --primary-hue: 355deg;
  --primary-saturation: 90%;
}

.square {
  aspect-ratio: 1/1;
  width: 100%;
}

.game {
  aspect-ratio: 16/9;
  padding: 10px;
  width: 100%;
}

.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.pdf {
  aspect-ratio: 17/22;
  width: 100%;
}
