.square {
  aspect-ratio: 1/1;
  width: 100%;
}

.game {
  aspect-ratio: 16/9;
  padding: 10px;
  width: 70%;
}

.vertical {
  aspect-ratio: 9/16;
  max-height: 100%;
}

.pdf {
  aspect-ratio: 17/22;
  width: 100%;
}
